* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }
  * body {
    background-color: black; }

.red-youtube {
  background-color: #ff000027; }

.red-instagram {
  background-color: #ff6b3125; }

.red-twitch {
  background-color: #a200ff27; }

.red-twitter {
  background-color: #0059ff23; }

.tit, .titulo, div .card-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  nav .nav-link {
    color: white;
    font-size: 1.5rem; }
  nav .nav-link:hover {
    color: red;
    font-size: 2rem;
    transform: scale3d(1.1); }
  nav .logo {
    width: 150px;
    height: 100%; }
    nav .logo .logo:hover {
      transform: scale(1.1); }
  nav .navegador {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #601aa1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around; }

header {
  background-color: black; }

body {
  font-size: 16px; }

.titulo {
  text-align: center;
  font-size: 5rem;
  margin-top: 8rem;
  margin-bottom: 0.5rem; }

.subtitulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  text-align: center;
  font-size: 3rem;
  margin-top: 8rem;
  margin-bottom: 5rem; }

.subtitulo2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  text-align: center;
  font-size: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 4rem;
  margin-left: 45rem; }

.subtitulo3 {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 3rem; }

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 8rem; }

div .card-body {
  background-color: #601aa1;
  padding: 2rem; }

div .card-text {
  font-size: 1.4rem;
  text-align: center; }

div .card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  font-size: 1.7rem;
  text-align: left; }

.card:hover {
  transform: scale(1.1); }

.sub {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #f00d0d;
  text-align: left;
  font-size: 2rem; }

.text {
  margin: 6rem 4rem 3rem 1rem;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white; }

.introtxt {
  display: grid;
  grid-template: repeat(3 800px);
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 8rem; }

div .card-header {
  background-color: #601aa1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: right;
  padding: 1rem;
  font-size: 1.3rem; }

div .card-footer {
  background-color: #601aa1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem; }

.card-text1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1.4rem;
  text-align: justify;
  margin: 2rem; }

.infoxtra {
  margin-right: 5rem; }

.pie {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #918d8d;
  font-size: 2rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 3rem; }

.infogame {
  display: grid;
  grid-template: repeat(3 800px);
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
  margin-top: 8rem;
  margin-bottom: 4rem; }

.infogame1 {
  margin-left: 12rem;
  margin-top: 8rem;
  margin-bottom: 4rem; }

.ctext {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 1rem;
  margin-right: 1rem; }

.image {
  width: 400px;
  height: 100%;
  padding: 1rem; }

.image1 {
  margin-left: 1rem;
  width: 900px;
  height: 100%;
  padding: 1rem; }

.down1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  cursor: pointer; }

.img-fluid:hover {
  font-size: 2rem;
  transform: scale(1.1); }

.formulario {
  margin-left: 35rem;
  margin-right: 35rem;
  margin-top: 8rem;
  margin-bottom: 8rem; }

.botonenv {
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 44rem;
  background-color: red;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.botonenv:hover {
  transform: scale(1.5); }

label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.you {
  width: 100px;
  height: 100%; }

.you:hover {
  transform: scale(1.2); }

footer {
  background-color: black; }

h1 {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 4px;
  margin: -80px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  animation: move linear 2300ms infinite; }

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 red, 3px -3px 0 red, 2px -2px 0 red, 1px -1px 0 red, -4px 4px 0 cyan, -3px 3px 0 cyan, -2px 2px 0 cyan, -1px 1px 0 cyan; }
  20% {
    text-shadow: -4px -4px 0 cyan, -3px -3px 0 cyan, -2px -2px 0 cyan, -1px -1px 0 cyan, 4px 4px 0 red, 3px 3px 0 red, 2px 2px 0 red, 1px 1px 0 red; }
  60% {
    text-shadow: -4px 4px 0 red, -3px 3px 0 red, -2px 2px 0 red, -1px 1px 0 red, 4px -4px 0 cyan, 3px -3px 0 cyan, 2px -2px 0 cyan, 1px -1px 0 cyan; }
  80% {
    text-shadow: 4px 4px 0 cyan, 3px 3px 0 cyan, 2px 2px 0 cyan, 1px 1px 0 cyan, -4px -4px 0 red, -3px -3px 0 red, -2px -2px 0 red, -1px -1px 0 red; }
  100% {
    text-shadow: 4px -4px 0 red, 3px -3px 0 red, 2px -2px 0 red, 1px -1px 0 red, -4px 4px 0 cyan, -3px 3px 0 cyan, -2px 2px 0 cyan, -1px 1px 0 cyan; } }

.area {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  animation: blur 1.4s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff; }

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px red, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8; } }

@media screen and (max-width: 576px) {
  nav {
    position: relative;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  nav .navegador {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #601aa1;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .subtitulo2 {
    font-size: 2rem;
    margin-left: 0rem; }
  div .card-text {
    font-size: 0.8rem;
    text-align: center; }
  .titulo {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 0.8rem; }
  .infoxtra {
    margin-right: 0rem; }
  .formulario {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .botonenv {
    margin-left: 15rem; }
  .you {
    width: 50px;
    height: 100%; }
  .infogame {
    margin-left: 1rem; }
  .col-8 {
    flex: 0 0 auto;
    width: 100%; }
  .infogame1 {
    margin-left: 1rem; }
  .image {
    width: 375px;
    padding: 2rem; }
  .area {
    margin-top: 2rem;
    animation: normal; } }

@media screen and (max-width: 768px) {
  nav .navegador {
    justify-content: start;
    align-content: space-around; }
  .titulo {
    text-align: center;
    font-size: 4rem;
    margin-top: 7rem; }
  .subtitulo2 {
    font-size: 3rem;
    margin-left: 0rem;
    margin-top: 0rem; }
  .row {
    display: flex; }
  .infogame {
    margin-left: 2rem;
    margin-top: 6rem; }
  .infogame1 {
    margin-left: 2rem;
    margin-top: 6rem; }
  .col-8 {
    width: 100%; }
  .col {
    flex: none; }
  .formulario {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .botonenv {
    margin-left: 15rem; }
  .area {
    margin-top: 4rem;
    animation: normal; }
  .titulo {
    margin-bottom: 4rem; }
  .container, .container-md, .container-sm {
    max-width: 500px; } }
